//fonts
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

//color variables
$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);
$transparentWhite: hsla(0, 0%, 100%, 0.75);
$veryLightGray: hsl(0, 0%, 95%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Big Shoulders Display", cursive;
  font-size: 0.9375rem;
  color: $veryLightGray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $veryLightGray;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 20.625rem;
  min-height: 83rem;
  border-radius: 0.625rem;
  overflow: hidden;
  margin: 1.25rem 1.25rem 0 1.25rem;
}
.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 3.125rem;
  img {
    width: 4rem;
    height: auto;
  }
  h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
  }
  p {
    font-family: "Lexend Deca", sans-serif;
    color: $transparentWhite;
    line-height: 1.6rem;
  }
  a {
    width: 9.125rem;
    height: 3.125rem;
    border-radius: 1.5625rem;
    border: none;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    background-color: $veryLightGray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a:hover {
    background: none;
    border: 1px solid $veryLightGray;
    color: $veryLightGray;
  }
}
.sedan {
  background-color: $brightOrange;
  a {
    color: $brightOrange;
  }
}
.suv {
  background-color: $darkCyan;
  a {
    color: $darkCyan;
  }
}
.luxury {
  background-color: $veryDarkCyan;
  a {
    color: $veryDarkCyan;
  }
}
footer {
  padding: 0.625rem;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Lexend Deca", sans-serif;
  p {
    color: $veryDarkCyan;
    margin-bottom: 0.3rem;
  }
  i {
    font-size: 0.9rem;
  }
  a {
    color: $veryDarkCyan;
  }
  a:hover {
    color: $brightOrange;
    transition: 700ms;
  }
}
@media only screen and (min-width: 481px) {
  .container {
    max-width: 57.5rem;
    min-height: 31.25rem;
    flex-direction: row;
  }
  .card {
    a {
      margin-top: 2.5rem;
    }
  }
}
